attrdict3==2.0.2
ipykernel==6.29.5
ipython==8.12.3
matplotlib-inline==0.1.7
numpy==2.1.1
openpyxl==3.1.5
pandas==2.2.2
pyarrow==17.0.0
pyinstaller==6.11.1
qrcode==8.0
requests==2.32.3
requests-toolbelt==0.10.1
wxPython==4.2.0
